.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 4vw;
  font-family: "Montserrat", sans-serif;
}

.heading {
  font-size: 2.4rem;
  margin-bottom: 2vw;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 1vw;
}

.input,
.textarea {
  width: 100%;
  padding: 1vw;
  margin-bottom: 2vw;
  border-radius: 8px;
}

.textarea {
  resize: vertical;
}

.button {
  background-color: #c30100;
  color: white;
  padding: 1vw;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding: 6vw;
  }

  .heading {
    font-size: 2rem;
  }

  .input,
  .textarea,
  .button {
    margin-bottom: 3vw;
  }
}
